* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
#vertical_timeline_container {
  background-color: #fff4e0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
}
#vertical_timeline_container .vertical_timeline_body .child {
  display: flex;
  gap: 20px;
  min-height: 50px;
}

#vertical_timeline_container .vertical_timeline_body .child .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 55px;
  border-right: 3px solid #b46060;
  color: #025053;
  font-weight: 800;
  font-size: 16px;
}
#vertical_timeline_container .vertical_timeline_body .child.empty_child .left {
  border-right-style: dotted;
}
#vertical_timeline_container .vertical_timeline_body .child .left p {
  display: flex;
  align-items: center;
  gap: 10px;
}
#vertical_timeline_container .vertical_timeline_body .child .left .circle {
  display: inline-block;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  margin-right: -11px;
  border: 4px solid #00235b;
}
#vertical_timeline_container .vertical_timeline_body .child .right {
  max-width: 400px;
  background-color: #0e8388;
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}
